.size-container-notfound{
    width: 400px;
    height: 500px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.center{
    display: flex;
    justify-content: center;
}

@media (max-width: 550px){
.size-container-notfound{
  width: 300px;
}

}
