.mr-auto{
  color: black;
}
.nav-logo {
    float: left !important;
    margin-left: 30px !important;
    margin-top: 5px !important;
    width: 100px;
  }

.hover:hover{
  text-shadow: rgb(135, 206, 125) 0.1em 0.1em 0.2em
}
.mg-r{
  margin-right: 80px;
}
.mg-l{
  margin-left: 80px;
}